//colores
$color-h1:#38c596;
$color-background:rgba($color: #39a2e8, $alpha: 1.0);
$color-p:white;

 

//fuente
$roboto: 'Roboto', sans-serif;
$font-family:"Public Sans", sans-serif;
$font-2:'Oxygen', sans-serif;
$font-3:'Permanent Marker';

//