
@import "../componentes/variable";
@import "../componentes/index";
@import "../componentes/catalogocompleto";
@import "../componentes/nosotros";
@import "../componentes/outlet";
@import "../componentes/promociones";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.h2 {
    font-size: 4rem;
    font-family: "Oxygen", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Permanent+Marker&display=swap');

//mixin
@mixin container($padding,$margin,$grid){
    padding: $padding ;
    margin: $margin;
    grid-area: $grid;
    
}

@mixin footer ($display,$margin,$font-size){
 display: inline-block;
margin-right: 20px;
font-size: 2rem;
}


    



    


//mapa
$headings: (
    h1: 4em,
    h2: 3em,
    h3: 2em,
    h4: 1em,
    h5:0.75, 
    h6: 0.35em
);

$h1: map-get($headings, h1 );



:root {
    --theme-color: white;
    --primary-color: #124f88;
    --secundary-color: #F7C331;
    --text-color-inverse: white;
    --text-color: black;
    --navbar-shallow-color: #e5e5e5;
    --menu-mobile-background-color: #3A4460;
  }

  //grid
  .grid-container {
    display: grid;
    gap: 10px;
    grid-template:
      "header"  100px
      "navbar"  50px
      "main"    auto
      "sidebar" 100px
      "footer"  100px;
      .grid-container{
          @include container(10px,none ,none );
        box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
        border-radius: 4px;
        text-align: center;
      }
  


//termina grid


html{
    height: 100%;
}

//inicia body
body{

    
    font-size: 1.2rem;
    min-height: 100%;
      background-image: url('../img/background.jpg');

    p{
       
        text-align: center;
        padding: 0%;
        
        font-weight: 300;
        font-size: 2rem;
        
        line-height: 2.2rem;
    }
    h1{
        
        font-size: 4rem;
        text-decoration-color: #e5e5e5;
       
        text-align: center;
    }
    
    
 //inicia nav
nav{
    grid-area: navbar;
    

    div{
        
      
        
        a{
            .nav div a:hover{
                cursor: pointer;
            
                transition: .5s ;
                font-weight: 600;
                
                }
           
            
        }
    }
    div{
        ul{
            li{
                    button {
                       
                        padding: 15px 32px;
                        margin: 4px 7px;
                        font-size: 18px;
                        border-radius: 6em;
                        
                        border: 1px solid ;
                        transition: all .3s;
                        box-shadow: 6px 6px 12px
                                    -6px -6px 12px  ;
                                    
                       }
                       
                       button:hover {
                        border: 1px solid ;
                       }
                       
                       button:active {
                        box-shadow: 4px 4px 12px ,
                                    -4px -4px 12px ;
                       }
                      
                       


                    

                }

                
                 

            }
        }
    }
}
//termina nav


//inicia section

section{
    article{
        h2{
            @extend .h2;
        }

            

        }
      
       
    }

//termina section


//inicia footer
.footer{
    @include container(0%,auto , none);

  .pie{
	/*padding*/
	padding: 30px; 
	
}

.pie__icon--sm{
	/*size*/
	width: 30px;  /*ancho*/
}

.pie__titulo--md{
	/*display*/
	@include footer(inline-block,20px, 2rem)
}

.pie a{
	text-decoration: none; 
    text-align: center;
}

    h3{
        text-align: center;
        padding: 0%;
        font-size: 2rem;
        color: #e5e5e5;
        
    }
        
        
        
            
            img{
                display:block;
                margin:auto;
                

            }
        }
    }